<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="store.eazychina.wtx.mapper.BossBISpiderMapper">
<select id="findByAddr" resultType="store.eazychina.wtx.pojo.BossBiPojo">
	SELECT * FROM `boss_addr_money`;
	</select>
	
	<select id="findByJobName" resultType="store.eazychina.wtx.pojo.BossBiPojo">
	SELECT * FROM `boss_China_addr_jobname_money` where `rank`>10 order by `rank` desc limit 20
	</select>
	
	<select id="findByAddrJobName" resultType="store.eazychina.wtx.pojo.BossBiPojo">
	SELECT `rank`,jobName,jobTageItem,avgred,SUBSTRing(jobAreaWrapper,1,LOCATE("·",jobAreaWrapper,1)-1)as addr FROM `boss_addr_jobname_money`  where `rank`>=5  ORDER BY `rank` desc;
	</select>
	
	<select id="findByAddrJobNameBeiJing" resultType="store.eazychina.wtx.pojo.BossBiPojo">
	SELECT `rank`,jobName,jobTageItem,avgred,SUBSTRing(jobAreaWrapper,1,LOCATE("·",jobAreaWrapper,1)-1)as addr FROM `boss_addr_jobname_money_beijing`  where `rank`>=5  ORDER BY `rank` desc;
	</select>
	
	<select id="findByAddrJobNameBeiJing_deelplearning" resultType="store.eazychina.wtx.pojo.BossBiPojo">
		SELECT rank,jobName,jobTageItem,avgred,minred,maxred,addr    FROM `boss_deeplearning4beijing_jobname_money`;
	</select>
</mapper>